 <!--==================== CSS ====================-->
<link rel="stylesheet" href="/assets/css/adminStyles.css">

<body>

    <!--==================== SIDEBAR ====================-->
    <div class="sidebar" id="sidebar">

        <div class="sidebar__brand">
            <i class='bx bxs-dashboard icon__sidebar'></i>
            <div class="sidebar__admin">
                <span>
                    Dashboard
                </span>
            </div>
        </div>

        <div class="sidebar__menu">
            <ul class="nav__list">
                <li class="nav__list-li">
                    <a class="nav__list-a" href="#">
                        <i class='bx bx-user icon__sidebar-menu'></i>
                        <span class="links__name">User</span>
                    </a>
                    <span class="tooltip">User</span>
                </li>
                <li class="nav__list-li">
                    <a class="nav__list-a" href="#">
                        <i class='bx bxs-school icon__sidebar-menu'></i>
                        <span class="links__name">Education</span>
                    </a>
                    <span class="tooltip">Education</span>
                </li>
                <li class="nav__list-li">
                    <a class="nav__list-a" href="#">
                        <i class='bx bx-task icon__sidebar-menu'></i>
                        <span class="links__name">Skills</span>
                    </a>
                    <span class="tooltip">Skills</span>
                </li>
                <li class="nav__list-li">
                    <a class="nav__list-a" href="#">
                        <i class='bx bxs-briefcase icon__sidebar-menu'></i>
                        <span class="links__name">Experence</span>
                    </a>
                    <span class="tooltip">Experence</span>
                </li>
                <li class="nav__list-li">
                    <a class="nav__list-a" href="#">
                        <i class='bx bx-certification icon__sidebar-menu'></i>
                        <span class="links__name">Certificate</span>
                    </a>
                    <span class="tooltip">Certificate</span>
                </li>
                <li class="nav__list-li">
                    <a class="nav__list-a" href="#">
                        <i class='bx bx-planet icon__sidebar-menu'></i>
                        <span class="links__name">Language</span>
                    </a>
                    <span class="tooltip">Language</span>
                </li>
                <li class="nav__list-li">
                    <a class="nav__list-a" href="#">
                        <i class='bx bx-layer-minus icon__sidebar-menu'></i>
                        <span class="links__name">Interests</span>
                    </a>
                    <span class="tooltip">Interests</span>
                </li>
                <li class="nav__list-li">
                    <a class="nav__list-a" href="#">
                        <i class='bx bx-cog icon__sidebar-menu'></i>
                        <span class="links__name">Setting</span>
                    </a>
                    <span class="tooltip">Setting</span>
                </li>
            </ul>
        </div>

        <div class="sidebar__footer">
            <div class="sidebar__footer-data">
                <span>Login as: <b> Jou G </b></span>
                <i class='bx bx-log-out icon__sidebar-footer' id="log_out"></i>
            </div>
            <div class="sidebar__footer-time">
                <span>Fecha</span>
                <span>Hora</span>
            </div>
        </div>
    </div>

    <!--==================== MAIN CONTENT ====================-->
    <!-- <div class="main__content" id="main-content">
    </div> -->

    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <div class="menu__toggle" id="menu-toggle">
            <!-- <label class="" for="">
                </label> -->
            <i class='bx bx-menu' id="btn"></i>
        </div>

        <div class="header__icons">
            <i class='bx bx-search-alt'></i>
            <i class='bx bx-bookmark'></i>
            <i class='bx bx-message-detail'></i>
        </div>

        <div class="header__data">
            <div class="header__user">

                <div class="header__img">
                    <img src="assets/img/Cv.png" alt="">
                </div>

                <div class="header__info">
                    <span><b> Jou G</b> </span>
                    <span>Super admin</span>
                </div>
                <i class='bx bx-moon'></i>

            </div>

        </div>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main" id="main">
        <section class="dashboard " id="dashboard">

            <div class="dash__header">
                <div class="dash__info">
                    <h1>Analytics Dahboard</h1>
                    <small>Monitor key metric. Check reporting and review insights</small>
                </div>
                <div class="dash__action">
                    <button>
                        <i class='bx bx-download icons__dash' ></i> 
                        <span>
                            Download
                        </span>
                    </button>
                </div>
            </div>

            <!--===============// CARDS //===============-->
            <div class="cards">

                <!-- card1 -->
                <div class="card__single">
                    <div class="card__header success">
                        <span> Social</span>
                    </div>
                    <div class="card__title">
                        <small>Number of Social</small>
                    </div>
                    <div class="card__data">
                        <div class="card__number">
                            <h2>3</h2>
                        </div>
                        <div class="card__icon success">
                            <i class='bx bxs-user-account'></i>
                        </div>
                    </div>
                    <div class="card__footer">
                        <small>Fecha hora</small>
                    </div>
                </div>

                <!-- card2 -->
                <div class="card__single">
                    <div class="card__header danger">
                        <span> Education</span>
                    </div>
                    <div class="card__title">
                        <small>Number of Education</small>
                    </div>
                    <div class="card__data">
                        <div class="card__number">
                            <h2>3</h2>
                        </div>
                        <div class="card__icon danger">
                            <i class='bx bxs-school'></i>
                        </div>
                    </div>
                    <div class="card__footer">
                        <small>Fecha hora</small>
                    </div>
                </div>

                <!-- card3 -->
                <div class="card__single">
                    <div class="card__header warring">
                        <span> Skills</span>
                    </div>
                    <div class="card__title">
                        <small>Number of Skills</small>
                    </div>
                    <div class="card__data">
                        <div class="card__number">
                            <h2>7</h2>
                        </div>
                        <div class="card__icon warring">
                            <i class='bx bx-task '></i>

                        </div>
                    </div>
                    <div class="card__footer">
                        <small>Fecha hora</small>
                    </div>
                </div>

                <!-- card4 -->
                <div class="card__single">
                    <div class="card__header purple">
                        <span> Experence</span>
                    </div>
                    <div class="card__title">
                        <small>Number of Experence</small>
                    </div>
                    <div class="card__data">
                        <div class="card__number">
                            <h2>2</h2>
                        </div>
                        <div class="card__icon purple">
                            <i class='bx bxs-briefcase '></i>
                        </div>
                    </div>
                    <div class="card__footer">
                        <small>Fecha hora</small>
                    </div>
                </div>

                <!-- card5 -->
                <div class="card__single">
                    <div class="card__header success">
                        <span> Certificate</span>
                    </div>
                    <div class="card__title">
                        <small>Number of Certificate</small>
                    </div>
                    <div class="card__data">
                        <div class="card__number">
                            <h2>3</h2>
                        </div>
                        <div class="card__icon success">
                            <i class='bx bx-certification '></i>
                        </div>
                    </div>
                    <div class="card__footer">
                        <small>Fecha hora</small>
                    </div>
                </div>

                <!-- card6 -->
                <div class="card__single">
                    <div class="card__header danger">
                        <span> Reference</span>
                    </div>
                    <div class="card__title">
                        <small>Number of Reference</small>
                    </div>
                    <div class="card__data">
                        <div class="card__number">
                            <h2>2</h2>
                        </div>
                        <div class="card__icon danger">
                            <i class='bx bx-calendar-check'></i>
                        </div>
                    </div>
                    <div class="card__footer">
                        <small>Fecha hora</small>
                    </div>
                </div>

                <!-- card7 -->
                <div class="card__single">
                    <div class="card__header warring">
                        <span> Language</span>
                    </div>
                    <div class="card__title">
                        <small>Number of Language</small>
                    </div>
                    <div class="card__data">
                        <div class="card__number">
                            <h2>7</h2>
                        </div>
                        <div class="card__icon warring">
                            <i class='bx bx-planet '></i>

                        </div>
                    </div>
                    <div class="card__footer">
                        <small>Fecha hora</small>
                    </div>
                </div>

                <!-- card8 -->
                <div class="card__single">
                    <div class="card__header purple">
                        <span> Interests</span>
                    </div>
                    <div class="card__title">
                        <small>Number of Interests</small>
                    </div>
                    <div class="card__data">
                        <div class="card__number">
                            <h2>2</h2>
                        </div>
                        <div class="card__icon purple">
                            <i class='bx bx-layer-minus '></i>
                        </div>
                    </div>
                    <div class="card__footer">
                        <small>Fecha hora</small>
                    </div>
                </div>

            </div>
            <!--===============// ANALYTICS  PROJECT //===============-->
            <div class="project__grid">
                <div class="analytic__card">

                    <div class="analytic__header">
                        <h3>Actions analytics</h3>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>

                    <div class="analytic__chart">
                        <div class="chart__circle">
                            <h1>74%</h1>
                        </div>
                        <div class="analytic__note">
                            <small>
                                Note: Current sprint requires stakeholders meeting to reach concluion.
                            </small>
                        </div>
                        <div class="analytic__btn">
                            <button>
                                View all
                            </button>
                        </div>
                    </div>

                </div>

                <div class="project">
                    <div class="project__title">
                        <div class="project__name">
                            <h2>Projects</h2>
                            <i class='bx bx-news'></i>
                        </div>
                        <div class="project__edit">
                            <small>
                                Edit all project
                            </small>
                            <i class='bx bxs-right-arrow-alt'></i>
                        </div>
                    </div>

                    <div class="project__table">
                        <table>
                            <tbody>
                                <!-- Row Title -->
                                <tr class="table__container">
                                    <!-- col -->
                                    <td class="">
                                        <div class="table__border-left">
                                            <span class="indicator"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Project Title
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Area
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Status
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Time ago
                                        </div>
                                    </td>

                                    <td class="">
                                        <div class="table__border-right">
                                            Visite
                                        </div>
                                    </td>
                                </tr>

                                <!-- Row 1-->
                                <tr class="table__rows">
                                    <!-- col -->
                                    <td>
                                        <div class="table__nun">
                                            <span class="">1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Curriculum VItae
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Desiner web
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Active
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            2 month ago
                                        </div>
                                    </td>

                                    <td>
                                        <div class="table__btn">
                                            <a>
                                                ir
                                                <i class='bx bx-planet' ></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Row 2-->
                                <tr class="table__rows">
                                    <!-- col -->
                                    <td>
                                        <div class="table__nun">
                                            <span class="">2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Curriculum VItae
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Desiner web
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Active
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            2 month ago
                                        </div>
                                    </td>

                                    <td>
                                        <div class="table__btn">
                                            <a>
                                                ir
                                                <i class='bx bx-planet' ></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Row 3-->
                                <tr class="table__rows">
                                    <!-- col -->
                                    <td>
                                        <div class="table__nun">
                                            <span class="">1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Curriculum VItae
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Desiner web
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Active
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            2 month ago
                                        </div>
                                    </td>

                                    <td>
                                        <div class="table__btn">
                                            <a>
                                                ir
                                                <i class='bx bx-planet' ></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Row 4-->
                                <tr class="table__rows">
                                    <!-- col -->
                                    <td>
                                        <div class="table__nun">
                                            <span class="">4</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Curriculum VItae
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Desiner web
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Active
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            2 month ago
                                        </div>
                                    </td>

                                    <td>
                                        <div class="table__btn">
                                            <a>
                                                ir
                                                <i class='bx bx-planet' ></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Row 5-->
                                <tr class="table__rows">
                                    <!-- col -->
                                    <td>
                                        <div class="table__nun">
                                            <span class="">5</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Curriculum VItae
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Desiner web
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            Active
                                        </div>
                                    </td>
                                    <td>
                                        <div class="">
                                            2 month ago
                                        </div>
                                    </td>

                                    <td>
                                        <div class="table__btn">
                                            <a>
                                                ir
                                                <i class='bx bx-planet' ></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </section>
        <!--==================== FOOTER ====================-->

    </main>
    <footer id="footer">
        <div class="footer__end">
            Copyright 2021
        </div>
    </footer>


    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrolltop" id="scroll-top">
        <!-- <i class="bx bx-up-arrow-alt scrolltop__icon"></i> -->
    </a>

    <!--==================== SCROLL UP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <!-- <i class="uil uil-arrow-up scrollup__icon"></i> -->
    </a>

    <!--==================== LIBRARY JS ====================-->


    <!--==================== MAIN JS ====================-->
    <script src="/assets/js/@adminMain.js"></script>
</body>
