<!--==================== CSS ====================-->
<link rel="stylesheet" href="/assets/css/publicStyles.css">

<body class="">
    <header class="l-header" id="header">
        <nav class="nav bd-container"> <a href="" class="nav__logo">Joao G</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"> <a href="#home" class="nav__link active-link"> <i
                                class='bx bx-home nav__icon '></i> Home </a> </li>
                    <li class="nav__item"> <a href="#profile" class="nav__link"> <i class='bx bx-user nav__icon'></i>
                            Profile </a> </li>
                    <li class="nav__item"> <a href="#education" class="nav__link"> <i class='bx bx-book nav__icon'></i>
                            Education </a> </li>
                    <li class="nav__item"> <a href="#skills" class="nav__link"> <i class='bx bx-receipt nav__icon'></i>
                            Skills </a> </li>
                    <li class="nav__item"> <a href="#experence" class="nav__link"> <i
                                class='bx bx-briefcase-alt nav__icon'></i> Experiencie </a> </li>
                    <li class="nav__item"> <a href="#certificates" class="nav__link"> <i
                                class='bx bx-award nav__icon'></i> Certificates </a> </li>
                    <li class="nav__item"> <a href="#references" class="nav__link"> <i
                                class='bx bx-link-external nav__icon'></i> References </a> </li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle"> <i class='bx bx-grid-alt'></i> </div>
        </nav>
    </header>
    <main class="l-main bd-container">
        <div class="resume" id="area-cv">
            <div class="resume__left">
                <section class="home" id="home">
                    <div class="home__container section bg-grid">
                        <div class="home__data bg-grid"> <img src="assets/img/CV-removebg.png" alt="" class="home__img">
                            <h1 class="home__title">JOAO <b>GARCÍA</b></h1>
                            <h3 class="home__profession">Systems Engineer</h3>
                            <div class=""> <a download="" href="/assets/pdf/myResume.pdf" class="home__button-movil">
                                    Download </a> </div>
                        </div>
                        <div class="home__address bg-grid"> <span class="home__information"> <i
                                    class='bx bxs-user-detail home__icon'></i> 1315409662 </span> <span
                                class="home__information"> <i class='bx bx-map home__icon'></i> Manta, Manabí-Ecuador
                            </span> <span class="home__information"> <i class='bx bx-envelope home__icon'></i>
                                jogu2980@gmail.com </span> <span class="home__information"> <i
                                    class='bx bxs-phone home__icon'></i> +593 96-028-1664 </span> </div>
                    </div><i class='bx bx-moon change-theme' title="Theme" id="theme-button"></i> <i
                        class='bx bx-download generate-pdf' title="Generate PDF" id="resume-button"></i>
                </section>
                <section class="social section">
                    <div class="section__title "> SOCIAL </div>
                    <div class="social__container bg-grid"> <a
                            href="https://www.linkedin.com/in/joao-garc%C3%ADa-974725216/" target="_blank"
                            class="social__link"> <i class='bx bxl-linkedin-square social__icon'></i> @JoaoGarcía </a>
                        <a href="https://gitlab.com/Jou98ssjEx/" target="_blank" class="social__link"> <i
                                class='bx bxl-gitlab social__icon'></i> @Jou98ssEx </a> <a
                            href="https://www.facebook.com/joaogabriel.garcia.96" target="_blank" class="social__link">
                            <i class='bx bxl-facebook social__icon'></i> @JoaoGarcía </a> </div>
                </section>
                <section class="profile section" id="profile">
                    <h2 class="section__title ">Profile</h2>
                    <p class="profile__description"> To give the best of myself, to learn more about my profession every
                        day, being respectful, responsible and acting with prudence. To achieve every goal and challenge
                        I set for myself. </p>
                </section>
                <section class="education section" id="education">
                    <h2 class="section__title ">Education</h2>
                    <div class="education__container bg-grid">
                        <div class="education__content">
                            <div class="education__time"> <span class="education__rounder"></span> <span
                                    class="education__line"></span> </div>
                            <div class="education__data bg-grid">
                                <h3 class="education__title">BASICS</h3> <span class="education__estudies">School
                                    "Sorrowful Mother"</span> <span class="education__year">2004-2010</span>
                            </div>
                        </div>
                        <div class="education__content">
                            <div class="education__time"> <span class="education__rounder"></span> <span
                                    class="education__line"></span> </div>
                            <div class="education__data bg-grid">
                                <h3 class="education__title">SCIENCES</h3> <span class="education__estudies">"San José"
                                    School </span> <span class="education__year">2010-2016</span>
                            </div>
                        </div>
                        <div class="education__content">
                            <div class="education__time"> <span class="education__rounder"></span> </div>
                            <div class="education__data bg-grid">
                                <h3 class="education__title">SYSTEMS ENGINEER</h3> <span
                                    class="education__estudies">University ULEAM</span> <span
                                    class="education__year">2016-2021</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="skills section" id="skills">
                    <h2 class="section__title ">Skills</h2>
                    <div class="skills__content bg-grid">
                        <ul class="skills__data">
                            <li class="skills__name"> <span class="skills__circle"></span> Planning </li>
                            <li class="skills__name"> <span class="skills__circle"></span> Organization </li>
                            <li class="skills__name"> <span class="skills__circle"></span> Self-learning </li>
                            <li class="skills__name"> <span class="skills__circle"></span> OFFICE </li>
                        </ul>
                        <ul class="skills__data">
                            <li class="skills__name"> <span class="skills__circle"></span> React </li>
                            <li class="skills__name"> <span class="skills__circle"></span> Node </li>
                            <li class="skills__name"> <span class="skills__circle"></span> JAVASCRIPT </li>
                            <li class="skills__name"> <span class="skills__circle"></span> TYPESCRIPT </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="resume__right">
                <section class="experence section" id="experence">
                    <h2 class="section__title-right">Experence</h2>
                    <div class="experence__container bg-grid">
                        <div class="experence__content">
                            <div class="experence__time"> <span class="experence__rounder"></span> <span
                                    class="experence__line"></span> </div>
                            <div class="experence__data bg-grid">
                                <h3 class="experence__title">IT DEPARTMENT ASSISTANT</h3> <span
                                    class="experence__company">From Jul 2018 to Ag 2018 | Bilbosa Packer</span>
                                <p class="experence__description"> Intern in the IT department, performing preventive
                                    maintenance of hardware and software, know the functionalities of the department for
                                    the company. </p>
                            </div>
                        </div>
                        <div class="experence__content">
                            <div class="experence__time"> <span class="experence__rounder"></span> <span
                                    class="experence__line"></span> </div>
                            <div class="experence__data bg-grid">
                                <h3 class="experence__title">APP COLLABORATION</h3> <span
                                    class="experence__company">From Mar 2020 to Jun 2020 | San Mateo Artisanal Fishing
                                    Port</span>
                                <p class="experence__description"> Collaboration for the development of a mobile app
                                    with its dashboard panel for the fish management of the fishing port. </p>
                            </div>
                        </div>
                        <div class="experence__content">
                            <div class="experence__time"> <span class="experence__rounder"></span> </div>
                            <div class="experence__data bg-grid">
                                <h3 class="experence__title">Self-learning in Udemy virtual platform</h3> <span
                                    class="experence__company">From 2019 to 2022 | Udemy virtual platform</span>
                                <p class="experence__description"> Learn and strengthen the knowledge of web developer
                                    applying some development technologies. </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="certificate section" id="certificates">
                    <h2 class="section__title-right">Certificate</h2>
                    <div class="certificate__container bg-grid">
                        <div class="certificate__content">
                            <div class="certificate__check"> <i class='bx bx-check-circle certificate__icon'></i> </div>
                            <div class="certificate__data">
                                <h3 class="certificate__title"> Certificate of compliance in pre-professional practices
                                    I and II </h3>
                                <p class="certificate__descripcion"> IT Department Assistant - Pre-professional
                                    internship I (2018). <br>App development : pre-professional internship II (2020).
                                </p>
                            </div>
                        </div>
                        <div class="certificate__content">
                            <div class="certificate__check"> <i class='bx bx-check-circle certificate__icon'></i> </div>
                            <div class="certificate__data">
                                <h3 class="certificate__title">Certificate of attendance of CITIC 2019</h3>
                                <p class="certificate__descripcion"> International Congress of Information Technology
                                    and Computing "CITIC", assistance in master expositions of new technologies. </p>
                            </div>
                        </div>
                        <div class="certificate__content">
                            <div class="certificate__check"> <i class='bx bx-check-circle certificate__icon'></i> </div>
                            <div class="certificate__data">
                                <h3 class="certificate__title">Certificates of courses in virtual platforms</h3>
                                <p class="certificate__descripcion"> Web design (Udemy) - Visual Studio Code (Udemy) -
                                    Node.js (Udemy) <br>Modern JavaScript (Udemy) - React.js (Udemy) - Next.js (Udemy) <br>Infrastructure and
                                    Telecommunications (Miríadax) <br>Digital Competencies (Google) - Digital Marketing
                                    (Google) </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="references section" id="references">
                    <h2 class="section__title-right">Reference</h2>
                    <div class="references__container bg-grid">
                        <div class="references__content bg-grid"> <span class="references__subtitle">Flutter
                                Developer</span>
                            <h3 class="references__title">Mr. Brayan Cantos</h3>
                            <ul class="references__contact">
                                <li>Phone: +593 99-399-7185</li>
                                <li>Email: brayancantosm07@gmail.com</li>
                            </ul>
                        </div>
                        <!-- <div class="references__content bg-grid"> <span class="references__subtitle">Mag. Developer</span> <h3 class="references__title">Mr. Robisson Bass</h3> <ul class="references__contact"> <li>Phone: 999-444-555</li><li>Email: admin@mail.com</li></ul> </div>-->
                    </div>
                </section>
                <section class="languages section">
                    <h2 class="section__title-right">Languages</h2>
                    <div class="languages__container ">
                        <ul class="languages__content bg-grid">
                            <li class="languages__name"> <span class="languages__circle"></span> Spanish (native) </li>
                            <li class="languages__name"> <span class="languages__circle"></span> English (level A1)
                            </li>
                            <li class="languages__name"> <span class="languages__circle"></span> Japaneses (Greetings)
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="interests section">
                    <h2 class="section__title-right">Interests</h2>
                    <div class="interests__container bg-grid">
                        <div class="interests__content"> <i class='bx bx-headphone interests__icons'></i> <span
                                class="interests__name">Music</span> </div>
                        <div class="interests__content"> <i class='bx bxs-plane-alt interests__icons'></i> <span
                                class="interests__name">Travel</span> </div>
                        <div class="interests__content"> <i class='bx bx-book interests__icons'></i> <span
                                class="interests__name">Read</span> </div>
                        <div class="interests__content"> <i class='bx bx-dumbbell interests__icons'></i> <span
                                class="interests__name">Fitness</span> </div>
                    </div>
                </section>
            </div>
        </div>
    </main> <a href="#" class="scrolltop" id="scroll-top"> <i class="bx bx-up-arrow-alt scrolltop__icon"></i> </a>
    <script src="/assets/js/html2pdf.bundle.min.js"></script>
    <script src="/assets/js/@publicMain.js"></script>
</body>