/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /* Change favorite color */
    --hue-color: 250;
    /*========== Colors ==========*/
    --container-color: #FAFAFA;
    --body-color: #FCFCFC;
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --icon-color: #7f7f7f;
    --icon-color-hover: #8DA2FB;
    --button-head-color: #5850ec;
    --bg-icon-color-hover: #efefef;
    --container-sidebar-color: #11101D;
    --container-sidebar-footer-color: #1D1B31;
    --icon-sidebar-color: #fff;
    --title-sidebar-color-hover: #0B0A0A;
    --title-sidebar-color: #fefefe;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --icon-font-size-big: 1.5rem;
    --icon-font-size-normal: 1.2rem;
    --icon-font-size-small: .8rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*==================== REUSABLE CSS CLASSES ====================*/

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}


/*==================== LAYOUT ====================*/

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}


/*==================== CONTENT MAIN HEADER NAV ====================*/


/* show or hidden menu */

.show-menu {
    margin-left: -270px;
    transition: .3s;
}

.hidden-menu {
    margin-left: 0px;
    transition: .3s;
}


/* body 100% */


/* .main__content {
    margin-left: 270px;
    width: calc(100% - 270px);
} */

.body-container {
    /* left: -110px; */
    margin-left: 0px;
    /* margin-left: -2070; */
    width: 100%;
    transition: .3s;
}

.body-container-nav {
    left: -270;
    width: calc(100% -270px);
    transition: .3s;
}


/* .contenidoT {
    width: 100%;
} */


/* .header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
} */


/*==================== SIDEBAR ====================*/

.sidebar {
    padding: var(--mb-0-75) var(--mb-1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--container-sidebar-color);
    width: 270px;
    z-index: var(--z-fixed);
}

.sidebar__brand {
    display: flex;
    padding: .4rem;
}

.icon__sidebar {
    position: relative;
    margin-top: .36rem;
    margin-right: var(--mb-0-75);
    font-size: var(--icon-font-size-big);
    color: var(--icon-sidebar-color);
}

.sidebar__admin span {
    font-size: var(--h1-font-size);
    color: var(--icon-sidebar-color);
}


/* Sidebar menu */

.sidebar__menu {
    padding-top: 2.5rem;
    /* padding: var(--mb-0-75) var(--mb-1); */
}

.tooltip {
    display: none;
}

.nav__list {
    margin-top: var(--mb-0-75);
    margin-bottom: var(--mb-0-75);
}

.nav__list-li {
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: var(--mb-0-75);
    /* background-color: #1D1B31; */
    margin-bottom: var(--mb-0-75);
    /* padding: var(--mb-0-25); */
}

.nav__list-a {
    height: 50px;
    border-radius: var(--mb-0-75);
    color: #fff;
    display: flex;
    align-items: center;
    align-items: center;
    text-decoration: none;
}

.nav__list-a:hover {
    color: #11101d;
    background: #fff;
}

.icon__sidebar-menu,
.links__name {
    font-size: var(--h3-font-size);
    margin-left: var(--mb-0-75);
    font-weight: var(--font-medium);
    /* margin-right: var(--mb-0-25); */
}


/* Sidebar footer */

.sidebar__footer {
    background-color: var(--container-sidebar-footer-color);
    position: absolute;
    padding: var(--mb-0-75);
    margin: 0;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.sidebar__footer-data {
    display: flex;
    justify-content: space-between;
    font-size: var(--small-font-size);
    color: var(--body-color);
    padding: var(--mb-0-25);
}

.icon__sidebar-footer {
    font-size: 1.2rem;
    cursor: pointer;
}

.sidebar__footer-time {
    display: flex;
    justify-content: space-between;
    font-size: var(--smaller-font-size);
    color: var(--bg-icon-color-hover);
    padding: var(--mb-0-5);
}

.sidebar__footer-time span {
    justify-content: center;
}


/*==================== HEADER ====================*/


/* left: 270px; */

main {
    margin-left: 270px;
    width: calc(100% - 270px);
}

header {
    margin-left: 270px;
    height: 70px;
    width: calc(100% - 270px);
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .3rem;
    position: fixed;
    z-index: 20;
    background: var(--body-color);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: left 300ms;
}

.menu__toggle {
    color: var(--icon-color);
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}


/* .header__data span {
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    margin-left: .7rem;
}

.header-icons span:hover {
    color: var(--menu-head-title);
} */

.menu__toggle:hover {
    background-color: var(--bg-icon-color-hover);
    color: var(--icon-color-hover);
}

.header__data,
.header__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: var(--mb-0-5);
}

.header__img {
    border-radius: 20%;
    /* background-color: red; */
    width: 45px;
    height: 45px;
    margin-right: var(--mb-0-5);
}

.header__img img {
    width: 100%;
    border-radius: 50%;
    border-left: 2px solid var(--bg-icon-color-hover);
    border-right: 2px solid var(--bg-icon-color-hover);
    border-bottom: 2px solid var(--bg-icon-color-hover);
    border-top: 2px solid var(--bg-icon-color-hover);
}

.header__img img:hover {
    cursor: pointer;
    background-color: var(--bg-icon-color-hover);
}

.header__info {
    display: grid;
    align-items: center;
    /* text-align: center; */
    /* font-size: var(--smaller-font-size); */
    /* justify-content: space-around;
    justify-items: self-start; */
}

.header__info span b {
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.header__info span {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.header__icons {
    font-size: 1.2rem;
    color: var(--icon-color);
}

.header__icons i:hover,
.header__user i:hover {
    cursor: pointer;
    color: var(--icon-color-hover);
}

.header__user i {
    font-size: 1.2rem;
    color: var(--icon-color);
    margin-left: var(--mb-0-75);
}


/*==================== MAIN ====================*/

main {
    padding: var(--mb-1-5);
    background: var(--container-color);
    min-height: calc(100vh - 70px);
    margin-top: 70px;
}

.dash__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash__info h1 {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.dash__info small {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.dash__action {
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
    /* padding: var(--mb-0-5); */
    /* display: flex; */
}

.dash__action button {
    display: flex;
    outline: none;
    color: var(--body-color);
    /* background: var(--icon-color-hover); */
    background: var(--button-head-color);
    border: none;
    padding: .6rem 1rem;
    /* margin-left: 1rem; */
    border-radius: 3px;
    /* font-weight: var(--font-medium); */
    font-size: var(--h3-font-size);
}

.icons__dash {
    /* position: relative; */
    /* margin-top: .5rem; */
    font-size: 1.2rem;
    margin-right: var(--mb-0-5);
    /* margin-top: .25rem; */
}

.dash__action button:hover {
    background: var(--icon-color-hover);
    cursor: pointer;
    color: var(--text-color);
}


/* card1  */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--mb-2-5);
    margin-top: var(--mb-1-5);
}

.card__single {
    background: var(--body-color);
    /* padding: var(--mb-1); */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--mb-0-25);
}

.card__header {
    padding: var(--mb-0-25) 0;
    /* border-bottom: 3px solid rgba(42, 212, 93, 0.904); */
    border-bottom-left-radius: var(--mb-0-5);
    border-bottom-right-radius: var(--mb-0-5);
    /* text-align: center; */
}

.card__header span {
    margin-left: var(--mb-1);
    text-transform: uppercase;
    color: var(--title-color);
    font-size: var(--h3-font-size);
    /* text-align: center; */
}

.card__title {
    text-align: center;
}

.card__title small {
    font-size: var(--small-font-size);
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}

.card__data {
    padding: var(--mb-0-5) 0;
    display: flex;
    justify-content: space-around;
}

.card__number h2 {
    color: var(--title-color);
    font-size: var(--mb-1-5);
}

.card__icon i {
    font-size: var(--mb-2);
}

.card__header.success {
    background-color: rgba(42, 212, 93, 0.904);
}

.card__icon.success i {
    color: rgba(42, 212, 93, 0.904);
}

.card__header.danger {
    background-color: rgba(212, 42, 42, 0.904);
}

.card__icon.danger i {
    color: rgba(212, 42, 42, 0.904);
}

.card__header.warring {
    background-color: rgba(212, 172, 42, 0.904);
}

.card__icon.warring i {
    color: rgba(212, 172, 42, 0.904);
}

.card__header.purple {
    background-color: rgba(87, 42, 212, 0.904);
}

.card__icon.purple i {
    color: rgba(87, 42, 212, 0.904);
}

.card__footer {
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}


/* ANALYTICS  PROJECT */

.project__grid {
    margin-top: var(--mb-3);
    display: grid;
    grid-template-columns: auto 60%;
    grid-gap: var(--mb-2);
    margin-bottom: var(--mb-1-5);
}

.analytic__card {
    background: var(--body-color);
    padding: var(--mb-1-5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--mb-0-25);
}

.analytic__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mb-2-5);
}

.analytic__header h3 {
    font-size: h3;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.analytic__header i {
    font-size: var(--mb-1-5);
    color: var(--title-color);
}

.analytic__header i:hover {
    color: var(--icon-color-hover);
    cursor: pointer;
}


/* chart */

.analytic__chart {
    display: block;
}

.chart__circle {
    width: 150px;
    height: 150px;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--button-head-color);
    border-bottom: 10px solid var(--button-head-color);
    border-top: 10px solid var(--button-head-color);
    display: grid;
    place-items: center;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.chart__circle h1 {
    color: var(--title-color);
    font-size: var(--h1-font-size);
}

.analytic__note {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    text-align: justify;
    padding: var(--mb-0-75) 0;
}

.analytic__card button {
    display: block;
    padding: .6rem 1rem;
    width: 100%;
    height: 30%;
    background: var(--button-head-color);
    color: var(--body-color);
    border: 1px solid var(--button-head-color);
    border-radius: 3px;
}

.analytic__card button:hover {
    background-color: var(--icon-color-hover);
    color: var(--title-color);
    cursor: pointer;
}


/* Project */

.project__title {
    display: flex;
    padding-top: var(--mb-0-75);
    align-items: center;
    justify-content: space-between;
    color: var(--title-color);
    /* padding-bottom: var(--mb-0-75); */
}

.project__name h2 {
    font-size: var(--h2-font-size);
}

.project__name,
.project__edit {
    display: flex;
    align-items: center;
}

.project__name i {
    font-size: 1.3rem;
    margin-left: var(--mb-1);
}

.project__edit {
    color: var(--button-head-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.project__edit:hover {
    cursor: pointer;
    color: var(--text-color);
}

.project__edit i {
    font-size: 1rem;
    margin-right: var(--mb-1);
    margin-left: var(--mb-0-25);
}


/* table */

.project__table table {
    border-collapse: collapse;
    margin-top: 1rem;
    width: 100%;
    border-radius: 5px;
    /* background-color: #fff; */
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); */
}


/* 
.project__table table tbody {
    border-top-left-radius: var(--mb-1);
    border-top-right-radius: var(--mb-1);
}

.project__table table tr {
    background-color: green;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    height: 40px;
}

.project__table table td {
    background-color: red;
    border-top-left-radius: var(--mb-1);
    border-top-right-radius: var(--mb-1);
} */


/* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
padding: .5rem;
height: 40px; */

.indicator {
    background: #c9f7f5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
}


/* .table__borde {
    border-top-left-radius: var(--mb-1);
    border-top-right-radius: var(--mb-1);
} */

.table__container {
    /* border-radius: 5rem; */
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); */
}

.table__container div {
    background-color: #fff4de;
    /* background-color: #fff; */
    /* border-radius: 5px; */
    /* background: var(--body-color); */
    margin-bottom: .8rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    /* font-size: var(--normal-font-size); */
    font-size: var(--small-font-size);
    color: var(--text-main-title2);
    font-weight: var(--font-semi-bold);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.table__border-right {
    border-bottom-right-radius: var(--mb-0-25);
    border-top-right-radius: var(--mb-0-25);
}

.table__border-left {
    border-bottom-left-radius: var(--mb-0-25);
    border-top-left-radius: var(--mb-0-25);
}

.table__nun {
    display: flex;
    justify-content: center;
}

.table__rows div {
    background: var(--body-color);
    margin-bottom: .8rem;
    height: 50px;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.table__btn {
    display: flex;
    justify-content: center;
}

.table__btn a {
    padding: var(--mb-0-25);
    border-radius: var(--mb-0-25);
    color: var(--body-color);
    font-size: var(--smaller-font-size);
    background-color: var(--button-head-color);
}

.table__btn a:hover {
    cursor: pointer;
    background-color: var(--icon-color-hover);
    color: var(--title-color);
}

.project__table {
    overflow: auto;
}


/*==================== FOOTER ====================*/

footer {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    margin-left: 270px;
    width: calc(100% - 270px);
    /* margin-top: 10rem; */
    background-color: var(--body-color);
    /* background-color: red; */
    box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.1);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__end {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}


/* .project__table table {
    background-color: var(--body-color);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: var(--mb-1);
    border-top-right-radius: var(--mb-1);
    padding: .5rem;
} */


/* align-items: center;
display: flex; */


/* margin-bottom: .8rem;
display: flex;
align-items: center;
font-size: .85rem;
color: var(--text-color); */


/* .project__table table td div {
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    padding: var(--mb-0-5);
    height: 60px;
    display: flex;
    align-items: center;
} */


/* background-color: var(--body-color); */


/* border-top-right-radius: var(--mb-1-5);
border-top-left-radius: var(--mb-1-5); */


/* .project__table table tr {
    margin-bottom: var(--mb-1);
} */


/* .card__info {
    background-color: rgba(42, 212, 93, 0.904);
    display: block;
    text-transform: uppercase;
    color: var(--title-color);
    text-align: center;
    margin-left: var(--mb-0-5);
    font-size: .9rem;
    padding: var(--mb-0-25);
}

.card__flex {
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
} */


/* .card__single span {
    display: block;
    text-transform: uppercase;
    color: var(--title-color);
    text-align: center;
    font-size: .9rem;
} */


/* .card__head span {
    display: block;
    text-transform: uppercase;
    color: var(--title-color);
    text-align: center;
    font-size: .9rem;
}

.card__head small {
    font-weight: 600;
    color: var(--text-main-title);
}

.card__info h2 {
    text-align: center;
    font-size: 2.2rem;
    color: var(--text-main-subtitle);
}

.card__chart i {
    font-size: 3rem;
}

.card__chart.success {
    color: rgba(42, 212, 93, 0.904);
}

.card__chart.danger {
    color: rgba(212, 42, 42, 0.904);
}

.card__chart.warring {
    color: rgba(212, 172, 42, 0.904);
} */


/*==================== MEDIA QUERIES ====================*/


/* For small devices */

@media screen and (max-width:540px) {
    /*==================== SIDEBAR ====================*/
    .sidebar {
        width: 70px;
        padding: .4rem .7rem;
    }
    .sidebar__brand {
        /* display: block; */
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
    }
    .sidebar__brand i {
        font-size: 1.3rem;
        margin-left: var(--mb-0-25);
    }
    .sidebar__admin {
        display: none;
    }
    .sidebar__menu {
        padding-top: var(--mb-0-75);
    }
    .tooltip {
        position: absolute;
        color: #000;
        left: 122px;
        top: 0;
        transform: translate(-50%, -50%);
        border-radius: 6px;
        height: 35px;
        width: 120px;
        /* background: rgb(104, 36, 36); */
        background-color: var(--body-color);
        line-height: 35px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0s;
        opacity: 0;
        pointer-events: none;
        display: block;
    }
    .nav__list-li:hover .tooltip {
        transition: all 0.5s ease;
        opacity: 1;
        top: 50%
    }
    .links__name {
        display: none;
    }
    .icon__sidebar-menu {
        align-content: center;
        font-size: 1.3rem;
    }
    .sidebar__footer-data span,
    .sidebar__footer-time {
        display: none;
    }
    .icon__sidebar-footer {
        font-size: 1.3rem;
        align-content: center;
        margin-left: var(--mb-0-25);
    }
    .sidebar__footer {
        height: 70px;
    }
    .sidebar__footer-data {
        height: 50px;
        width: 50px;
        /* justify-content: center; */
        align-items: center;
    }
    .sidebar__footer-data:hover {
        background-color: var(--body-color);
        color: var(--title-color);
        border-radius: var(--mb-0-75);
    }
    /*==================== HEADER ====================*/
    main {
        margin-left: 70px;
        width: calc(100% - 70px);
    }
    header,
    footer {
        margin-left: 0px;
        width: calc(100% - 70px);
        left: 70px;
    }
    .header__icons,
    .header__info {
        display: none;
    }
    .menu__toggle {
        width: 45px;
        height: 45px;
        margin-left: var(--mb-0-5);
    }
    /*==================== NAV ====================*/
    /* show menu */
    .show-menu {
        margin-left: -70px;
        transition: .3s;
    }
    .hidden-menu {
        margin-left: 0px;
        transition: .3s;
    }
    /* body 100% */
    .body-container {
        left: 0;
        width: 100%;
        transition: .3s;
    }
    .body-container-nav {
        left: -70;
        width: calc(100% -70px);
        transition: .3s;
    }
    /*==================== FOOTER ====================*/
    /* card1  */
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: var(--mb-2-5);
        margin-top: var(--mb-1-5);
    }
    .project__grid {
        display: block;
    }
    .analytic__card {
        margin-bottom: var(--mb-1-5);
    }
    .dash__header {
        display: block;
    }
    .dash__info {
        margin-bottom: var(--mb-1-5);
    }
}


/* For medium devices */

@media screen and (min-width:540px) {
    /* card1  */
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--mb-2-5);
        margin-top: var(--mb-1-5);
    }
    .project__grid {
        display: block;
    }
    .analytic__card {
        margin-bottom: var(--mb-1-5);
    }
}

@media screen and (min-width:768px) {
    /* card1  */
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--mb-2-5);
        margin-top: var(--mb-1-5);
    }
}

@media screen and (min-width:968px) {
    .project__grid {
        margin-top: var(--mb-3);
        display: grid;
        grid-template-columns: auto 60%;
        grid-gap: var(--mb-2);
        margin-bottom: var(--mb-1-5);
    }
}


/* For large devices */

@media screen and (min-width:1024px) {}

@media screen and (min-width:1255px) {}